In [42]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv("data/bronze_20250322_Airline_Reviews_withImageUrls.csv")
df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Top Review Image Url,Aircraft,Type Of Traveller,...,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,https://www.airlinequality.com/wp-content/uplo...,NaN,Solo Leisure,...,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,NaN,E120,Solo Leisure,...,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,NaN,Embraer E120,Solo Leisure,...,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,NaN,Solo Leisure,...,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,NaN,Couple Leisure,...,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24349,24349,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. Iâ€™ve flown many low cost ai...,NaN,NaN,Couple Leisure,...,Bangkok to Tokyo,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,no
24350,24350,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,NaN,Solo Leisure,...,Singapore to Tokyo,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,no
24351,24351,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,NaN,Business,...,Bangkok to Tokyo,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,no
24352,24352,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JALâ€™s budget airline. They donâ€™t ha...,NaN,Dreamliner,Business,...,Tokyo to Los Angeles,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,yes
24353,24353,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,NaN,Solo Leisure,...,Singapore to Tokyo,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,no

In [46]:
df.rename(columns={"Unnamed: 0": "RowId"}, inplace=True)

#### EDA & Data Validation

In [49]:
# Examine nulls (first pass)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24354 entries, 0 to 24353
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   RowId                   24354 non-null  int64
 1   Airline Name            24354 non-null  object
 2   Overall_Rating          24354 non-null  object
 3   Review_Title            24354 non-null  object
 4   Review Date             24354 non-null  object
 5   Verified                24354 non-null  bool
 6   Review                  24354 non-null  object
 7   Top Review Image Url    1897 non-null   object
 8   Aircraft                7727 non-null   object
 9   Type Of Traveller       20759 non-null  object
 10  Seat Type               23288 non-null  object
 11  Route                   20679 non-null  object
 12  Date Flown              20743 non-null  object
 13  Seat Comfort            20288 non-null  float64
 14  Cabin Staff Service     20139 non-null  float64
 15  Food & Beverages        15277 non-null  float64
 16  Ground Service          19827 non-null  float64
 17  Inflight Entertainment  11349 non-null  float64
 18  Wifi & Connectivity     6633 non-null   float64
 19  Value For Money         23319 non-null  float64
 20  Recommended             24354 non-null  object
dtypes: bool(1), float64(7), int64(1), object(12)
memory usage: 3.7+ MB

In [51]:
# Replace any empty string columns with actual nulls
df = df.replace(r'^\s+$', np.nan, regex=True)

#### Add Unique Id

In [54]:
def generate_hash(row):
    value = f"{row['RowId']}|{row['Airline Name']}|{row['Review_Title']}|{row['Review Date']}|"
    return hashlib.sha256(value.encode()).hexdigest()

In [56]:
df['Id'] = df.apply(generate_hash, axis=1)

In [58]:
# Re-examine nulls (after converting empty string to nulls)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24354 entries, 0 to 24353
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   RowId                   24354 non-null  int64
 1   Airline Name            24354 non-null  object
 2   Overall_Rating          24354 non-null  object
 3   Review_Title            24354 non-null  object
 4   Review Date             24354 non-null  object
 5   Verified                24354 non-null  bool
 6   Review                  24354 non-null  object
 7   Top Review Image Url    1897 non-null   object
 8   Aircraft                7726 non-null   object
 9   Type Of Traveller       20759 non-null  object
 10  Seat Type               23288 non-null  object
 11  Route                   20679 non-null  object
 12  Date Flown              20743 non-null  object
 13  Seat Comfort            20288 non-null  float64
 14  Cabin Staff Service     20139 non-null  float64
 15  Food & Beverages        15277 non-null  float64
 16  Ground Service          19827 non-null  float64
 17  Inflight Entertainment  11349 non-null  float64
 18  Wifi & Connectivity     6633 non-null   float64
 19  Value For Money         23319 non-null  float64
 20  Recommended             24354 non-null  object
 21  Id                      24354 non-null  object
dtypes: bool(1), float64(7), int64(1), object(13)
memory usage: 3.9+ MB

Key columns needed do not have nulls

#### Persist to CSV file

In [63]:
df.to_csv("data/silver_20250322_Airline_Reviews_Preprocessed.csv", index=False)